.close {
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition)
}

.close span {
  font-size: 2em
}

.close {
  position: fixed
}

.close {
  --transition: opacity 250ms ease;
  align-items: center;
  cursor: pointer;
  display: flex;
  display: -webkit-flex;
  height: fit-content;
  justify-content: center;
  opacity: 1;
  right: 50px;
  top: 50px;
  width: fit-content;
  overflow: hidden;
}

.close:hover span {
  animation: hoverMoving 250ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes hoverMoving {
  0% { transform: translateX(0%) }
  49.9% { transform: translateX(100%) }
  50.1% { transform: translateX(-100%) }
  to { transform: translateX(0%) }
}