.spotify_music_outsider {
  left: 0;
  position: relative;
}

.spotify_music {
  position: relative;
  left: 0;
}

.spotify_music_title {
  background: #121112;
  padding: 3rem;
}

.spotify_music_title h1 {
  font-weight: 500;
  font-size: 3em;
  margin: 1rem 0;
}

.spotify_music_title p {
  font-weight: lighter;
  width: 50%;
}

.spotify_playlist_classify {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.spotify_playlist {
  display: flex;
  position: relative;
  cursor: pointer;
  flex-direction: column;
}

.spotify_playlist_image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.spotify_playlist_image {
  width: 100%;
  transition: filter 500ms var(--expoOut);
}

.spotify_playlist:hover .spotify_playlist_title {
  opacity: 1;
}

.spotify_playlist:hover .spotify_playlist_image {
  filter: invert(1);
}

.spotify_playlist_title {
  position: absolute;
  bottom: 5px;
  padding: 1.25rem;
  background: linear-gradient(0deg, white 0%, transparent 100%);
  width: 100%;
  opacity: 0;
  transition: opacity 75ms linear;
}

.spotify_playlist_title h1 {
  margin: 0.125rem 0;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

.spotify_playlist_title p {
  font-weight: 500;
  color: black;
}

@media only screen and (max-width: 992px) {
  .spotify_playlist_classify {
    flex-direction: column;
  }

  .spotify_playlist_image {
    margin-bottom: -5px;
  }
}