.occupation {
  margin: 0 !important;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

.occupation:after {
  z-index: 15;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #363636;

  transition: clip-path 350ms var(--t_quart);
  -webkit-transition: -webkit-clip-path 350ms var(--t_quart), clip-path 350ms var(--t_quart);
  -moz-transition: -webkit-clip-path 350ms var(--t_quart), clip-path 350ms var(--t_quart);
  -o-transition: -webkit-clip-path 350ms var(--t_quart), clip-path 350ms var(--t_quart);

  clip-path: inset(0 0 100% 0);
  -webkit-clip-path: inset(0 0 100% 0);
}

.occupation.closement:after {
  clip-path: inset(0 0 0 0);
  -webkit-clip-path: inset(0 0 0 0);
}

.occupationTitle {
  position: absolute;
  left: 30px;
  top: 40px;
  z-index: 10;
}

.occupationTitle h1 {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--headingFonts);
  background: black;
  padding: 5px;
}

.occupationListImage:after {
  content: "";
  background: linear-gradient(270deg, black 0%, transparent 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.occupationListImage span {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
  display: block;
  position: absolute;
  
  transform: scale(1.15);
}

.occupationList {
  visibility: hidden;
}

.occupationList.ocu_Open {
  visibility: visible;
}

.occupationList.ocu_Open .occupationListImage span {
  transition: transform 500ms var(--t_quart) 0ms;
  transform: scale(1);
}

.occupationSubmissive {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2.5em;
}

.occupationSubmissive_text {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: flex-end;
}

.occupationSubmissive_text * {
  opacity: 0;
}

.occupationSubmissive_text h1 {
  font-size: var(--headingFonts);
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1px;
}

.occupationList.ocu_Open .occupationSubmissive_text h1 {
  animation: movingTextAppears 500ms var(--t_quart) 0s forwards;
}

.occupationList.ocu_Open .occupationSubmissive_text p {
  animation: movingTextAppears 500ms var(--t_quart) 250ms forwards;
}

.occupationSubmissive_button {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
}

.occupationSubmissive_button .btnRedirect {
  margin: 25px;

  display: flex;
  display: -webkit-flex;

  background-color: black;
  border-radius: 5%;
  padding: 5px;
  cursor: pointer;

  transition: background-color 100ms ease-out;
}

.occupationSubmissive_button .btnRedirect:hover {
  background-color: #181818;
}

.occupationSubmissive_button .btnRedirect > * {
  margin: 5px;
}

.occupationSubmissive_button .btnRedirect h1 {
  font-family: var(--headingFonts);
  font-weight: 500;
  letter-spacing: 1.25px;
  font-size: 20px;
}

.occupationSubmissive_button .btnRedirect svg {
  fill: white;
}

.occupationSubmissive_button .btnPanel {
  display: flex;
  display: -webkit-flex;
  position: relative;
  margin: 25px;
}

.occupationSubmissive_button .btnPanel span {
  margin: 10px;
  background: white;
  border-radius: 100%;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
}

.occupationSubmissive_button .btnPanel span.btnStop {
  opacity: 0.5;
  cursor: not-allowed;
}

.occupationSubmissive_button .btnPanel span.btnLeft svg,
.occupationSubmissive_button .btnPanel span.btnRight svg {
  fill: black;
  display: block;
}

/* uncentered */
.occupationSubmissive_button .btnPanel span.btnLeft svg {
  padding-right: 2.5px;
}

.occupationSubmissive_button .btnPanel span.btnRight svg {
  padding-left: 2.5px;
}

.occupationSubmissive_button .btnPanel span:not(.btnStop):hover {
  opacity: 0.78;
}

.occupationSubmissive_button .btnPanel span.btnRight:not(.btnStop):hover svg {
  animation: hoverMovingRight 250ms ease-in-out;
}

.occupationSubmissive_button .btnPanel span.btnLeft:not(.btnStop):hover svg {
  animation: hoverMovingLeft 250ms ease-in-out;
}

@keyframes hoverMovingLeft {
  0% {
      transform: translateX(0%)
  }

  49.9% {
      transform: translateX(-100%)
  }

  50.1% {
      transform: translateX(100%)
  }

  to {
      transform: translateX(0%)
  }
}

@keyframes hoverMovingRight {
  0% {
      transform: translateX(0%)
  }

  49.9% {
      transform: translateX(100%)
  }

  50.1% {
      transform: translateX(-100%)
  }

  to {
      transform: translateX(0%)
  }
}

@keyframes movingTextAppears {
  0% {
      transform: translateY(50%);
      opacity: 0;
  }

  to {
      transform: translateY(0%);
      opacity: 1;
  }
}

@media only screen and (max-width:992px) {
  .occupationSubmissive_text h1 {
    font-size: 25px;
    letter-spacing: .25px
  }
}