.develemper h1 {
  color: #000;
  font-size: 3.5em;
  letter-spacing: 2px
}

.develemper p {
  color: #000;
  letter-spacing: .75px;
  margin-top: 1em
}

.develemper-lang.summaries ul li {
  flex-direction: column;
  font-family: var(--headingFonts);
  font-size: 1.15em;
  margin: 5px 0
}

.develemper {
  margin: 15px 0 !important
}

.develemper-lang {
  margin: 3em 0
}

.develemper-info {
  align-content: center;
  align-items: center;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between
}

.develemper-info p {
  font-size: .9em;
  letter-spacing: 1.1px;
  margin-top: unset;
}

.develemper-info h3,
.develemper-lang.summaries h3 {
  color: #000;
  font-size: 1.25em;
  font-weight: 500
}

.develemper-lang.summaries ul {
  list-style: disc;
  margin: 15px 0;
  padding: 0 20px
}

.develemper-lang.summaries ul li {
  font-size: 1.05em;
  margin: 1.25px 0
}

.develemper-lang.summaries ul li span {
  font-weight: bolder
}

.order {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #121112;
  border-radius: 5px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: .5em 0;
  padding: 10px 12.5px;
  width: 100%
}

.order * {
  padding: 10px
}

span.brandicon svg {
  --truthPixels: 32px;

  fill: #fff;
  height: var(--truthPixels);
  padding: 0;
  position: relative;
  width: var(--truthPixels);
  cursor: help;
}

@media only screen and (max-width:600px) {
  .develemper h1 {
    font-size: 2.5em;
    letter-spacing: .25px
  }
}

@media only screen and (max-width:500px) {
  .develemper-info {
    align-items: flex-start;
    flex-direction: column
  }
}